main{
    display:flex;
    justify-content:center;
    max-height: 100vh;

    margin-top:5em;
    margin-bottom:5em;
    
}
#board {
    display: grid;
    grid-template-columns: repeat(9, 1.5em);
    max-height: 100vh; 
    margin:0;
    
}
button{
    width:2em;
    height:2em;
} 